.navbarBrand {
    font-family: "OCR A Extended";
    left: 550px;
}

.text1 {
    font-family: "OCR A Extended";
    top: 6px;
}

.text2 {
    display: inline-block;
    top: 50px;
    left: 400px;
}

.text3 {
    top: -40px;
    left: 50px;
}

.text4 {
    top: -81px;
    left: 180px;
}

.text5 {
    top: -120px;
    left: 290px;
}

.text6 {
    top: -159px;
    left: 400px;
    width:  100px;
}
.text7 {
    top: -197px;
    left: 550px;
    width:  100px;
}

.nLink1 {
    left: -400px;
}

.nLink2 {
    left: -210px;
}

.container1 {
    width: 800px;
    top: 100px;
    left: 200px;
    margin: 0;
}

.footer {
    top: 300px;
}

.heading1 {
    display: inline-block;
    top: 20px;
    left: 565px;
}

.loginForm {
    top: 100px;
    left: 200px;
    width: 1000px;
}

.button1 {
    top: 50px;
    left: 395px;
}